go 1.25

use (
    ./01HelloWorld
    ./02Values
    ./03Variables
    ./04Constants
    ./05For
    ./06IfElse
    ./07Switch
    ./08Arrays
    ./09Slices
    ./10Maps
    ./11Functions
    ./12MultipleReturnValues
    ./13VariadicFunctions
    ./14Closures
    ./15Recursion
    ./16RangeoverBuilt-inTypes
    ./17Pointers
    ./18StringsandRunes
    ./19Structs
    ./20Methods
    ./21Interfaces
    ./22Enums
    ./23StructEmbedding
    ./24Generics
    ./25RangeoverIterators
    ./26Errors
    ./27CustomErrors
    ./28Goroutines
    ./29Channels
    ./30ChannelBuffering
    ./31ChannelSynchronization
    ./32ChannelDirections
    ./33Select
    ./34Timeouts
    ./35Non-BlockingChannelOperations
    ./36ClosingChannels
    ./37RangeoverChannels
    ./38Timers
    ./39Tickers
    ./40WorkerPools
    ./41WaitGroups
    ./42RateLimiting
    ./43AtomicCounters
    ./44Mutexes
    ./45StatefulGoroutines
    ./46Sorting
    ./47SortingbyFunctions
    ./48Panic
    ./49Defer
    ./50Recover
    ./51StringFunctions
    ./52StringFormatting
    ./53TextTemplates
    ./54RegularExpressions
    ./55JSON
    ./56XML
    ./57Time
    ./58Epoch
    ./59TimeFormattingParsing
    ./60RandomNumbers
    ./61NumberParsing
    ./62URLParsing
    ./63SHA256Hashes
    ./64Base64Encoding
    ./65ReadingFiles
    ./66WritingFiles
    ./67LineFilters
    ./68FilePaths
    ./69Directories
    ./70TemporaryFilesandDirectories
    ./71EmbedDirective
    ./72TestingandBenchmarking
    ./73Command-LineArguments
    ./74Command-LineFlags
    ./75Command-LineSubcommands
    ./76EnvironmentVariables
    ./77Logging
    ./78HTTPClient
    ./79HTTPServer
    ./80Context
    ./81SpawningProcesses
    ./82ExecingProcesses
    ./83Signals
    ./84Exit
)
